* {
  font-family: "Libre Baskerville", serif;;

  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

header {
  margin: 3rem;

  position: absolute;
  z-index: 100;
}

nav ul {
  display: flex;
  gap: 3rem;

  list-style: none;
}

.hero {
  background-image: url("./assets/hero-5.jpg");
  background-size: cover;
  background-position: center;
  color: rgba(255, 255, 255, .5);

  display: flex;
  align-items: center;
  justify-content: baseline;
  position: relative;

  height: 130vh;
  margin-bottom: 5rem;
  isolation: isolate;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.hero-text h1 {
  font-size: 3rem;

  margin-left: 5rem;

  z-index: 1000;
}

.hero-text .button {
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: .5rem;
  background-color: transparent;

  cursor: pointer;

  font-weight: bold;
  font-size: 1.5rem;

  padding: .5rem 2rem;

  transition: .5s;
}

.hero-text .button:hover {
  border-color: #fff;
  box-shadow: -20px 20px 20px rgba(255, 255, 255, .5);
  color: #fff;
  scale: 1.055;
}

.hero::after {
  content: '';
  background-color: rgba(30, 30, 30, .7);
  height: 130vh;
  position: absolute;
  z-index: -1;
  inset: 0;
}

a {
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
  font-size: 2rem;
  
  text-decoration: none;

  transition: .25s;
}

a:hover {
  color: rgba(255, 255, 255, 1);
}